<div class="jumbotron">
	<div class="row">
	<h2>Now Playing In Threaters</h2>
	<div class="row">
		<% now['results'][0..3].each do |movie| %>
		<div class="col-lg-6">
  		<h3><%= movie['original_title']%></h3>
  		<!-- Image here> -->
  		<a href=<%= '"http://localhost:8080/movie/' + movie['id'].to_s + '"' %> >
  		<img src=<%= '"https://image.tmdb.org/t/p/w500_and_h281_bestv2' + movie['backdrop_path'] +'"' %> alt=<%='"'+ movie['original_title'] + '"'%> title=<%='"' + movie['original_title'] + '"'%> class="img-thumbnail img-responsive center-block">
  		</a>
		</div>
		<% end %>
	</div>
	</div>
	<div class="row">
	<h2>Releasing Soon</h2>
		<div class="row">
			<% upcoming['results'][0..3].each do |movie| %>
			<div class="col-lg-6">
  			<h3><%= movie['original_title']%></h3>
  			<!-- Image here> -->
  			<a href=<%= '"http://localhost:8080/movie/' + movie['id'].to_s + '"' %> >
  			<img src=<%= '"https://image.tmdb.org/t/p/w500_and_h281_bestv2' + movie['backdrop_path'] +'"' %> alt=<%='"'+ movie['original_title'] + '"'%> title=<%='"' + movie['original_title'] + '"'%> class="img-thumbnail img-responsive center-block">
  			</a>
			</div>
		<% end %>
	</div>
	</div>
</div>

