<div class="row">
	<h1 class="text-center"><%= title %></h1>
</div>
<div class="row">
<% count = 0 %>
<% data['results'][0..9].each do |item| %>
	<% if count % 5==0 %>
	<div class="col-md-6" >
	<% end %>

		<div class="row well " style="max-height: 300px">
			<div class="col-md-4">
				<a href=<%= '"http://localhost:8080/movie/' + item['id'].to_s + '"' %> ><img src=<%= '"https://image.tmdb.org/t/p/w185/' + item['poster_path'] +'"' %> alt=<%='"'+ item['original_title'] + '"'%> title=<%='"' + item['original_title'] + '"'%> class="img-thumbnail img-responsive center-block"  /></a>
			</div>
		
		<div class="col-md-8">
			<div class="truncate"><a href=<%= '"http://localhost:8080/movie/' + item['id'].to_s + '"' %>><h2><%= item['original_title'] %></h2></a>
			<p><%= item['overview'] %></p></div>
			<!--<div style="min-height: 30px"></div> -->
			<p><a class="btn btn-default pull-right" href=<%= '"http://localhost:8080/movie/' + item['id'].to_s + '"' %> >Read More...</a></p>
		</div>
		</div>
	<% if (count%5)==4 %>
	</div>
	<% end %>
	<% count +=1 %>
<% end %>
</div>	
