<div class="row">
	<h1 class="text-center"><%= data['name']%></h1>
</div>
<div class="row">
	<div class="col-lg-6" style="max-height: 500px; width: auto;
    height: auto;">
		<img src=<%= '"https://image.tmdb.org/t/p/w500_and_h281_bestv2' + data['profile_path'] +'"' %> alt=<%='"'+ data['name'] + '"'%> title=<%='"' + data['name'] + '"'%> class="img-thumbnail img-responsive center-block" />
	</div>	
	<div class="col-lg-6">
		<p><strong>Name: </strong> <%= data['name'] %></p>

		<p><strong>Birthday: </strong> <%= data['birthday"'] %></p>
		
		<p><strong>Place of birth:</strong> <%= data['place_of_birth"'] %></p>

	</div>
</div>

	<div class="clearfix" style="margin-top:5px"></div>
	
	<div class="row" style="margin-top: 25px">
		<h2><strong>Biography:</strong></h2>
		<p><%= data['biography'] %></p>
		<h3>Starred in: </h3>

		

	</div>



