<div class="row">
	<h1 class="text-center"><%= data.name %></h1>
</div>
<div class="row">
	<div class="col-lg-6" style="max-height: 500px; width: auto;
	height: auto;">
	<img src=<%= '"' + (data.profile_picture || '') +'"' %> onerror="this.src='https://d3a8mw37cqal2z.cloudfront.net/assets/f996aa2014d2ffddfda8463c479898a3/images/no-poster-w185.jpg'" alt=<%='"'+ data.name + '"'%> title=<%='"' + data.name + '"'%> class="img-thumbnail img-responsive center-block" />
</div>	
<div class="col-lg-6">
	<p><strong>Name: </strong> <%= data.name %></p>

	<p><strong>Birthday: </strong> <%= data.birthday %></p>

	<p><strong>Place of birth:</strong> <%= data.place_of_birth %></p>

</div>
</div>

<div class="clearfix" style="margin-top:5px"></div>







